body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Farro", sans-serif;
  margin: 0;
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  width: 1200px;
  height: 54px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0px;

  .header-content {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .language {
    align-items: center;
    font: 600 22px / 0.81818 "Tourney", sans-serif;
    letter-spacing: 0.04em;
    text-align: center;
    color: #000;
  }

  .navigation {
    display: flex;
    width: 261px;
    height: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    ul {
      width: 261px;
      height: 20px;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 10px;

      li {
        font: 400 22px "Staatliches", sans-serif;
        letter-spacing: 0.03em;
        color: #000;
        list-style-type: none;
        text-decoration: none;
      }

      a {
        font: 400 22px "Staatliches", sans-serif;
        letter-spacing: 0.03em;
        color: #000;
        text-decoration: none;
      }

      span {
        font: 400 22px "Staatliches", sans-serif;
        letter-spacing: 0.03em;
        color: #000;
      }
    }
  }
}

.logo {
  width: 237px;
  height: 54px;
}

.container {
  width: 1200px;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.main-content {
  width: 785px;
  height: 2225px;
  margin-top: 70px;
  padding: 0px;
  align-items: flex-start;
}

.who’s-using {
  width: 326px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  margin-top: 70px;
  margin-bottom: 40px;
  padding: 0;
}

.using-container {
  justify-content: center;
  border-bottom: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  padding: 0px;
  padding-inline: 0px;
  width: 1200px;
  height: 430px;
}

h3 {
  font: 600 36px / 1.33333 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #000;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

h3::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 8px;
  background-color: #000;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.cards-container .container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  /* 4 колонки по 270px */
  grid-template-rows: repeat(2, 180px);
  /* 2 ряди по 180px */
  gap: 30px;
  justify-content: center;
  flex-direction: unset;
  align-items: unset;
  width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: transparent;
  width: 270px;
  height: 180px;
  perspective: 1000px;
  cursor: pointer;
}

/* Внутрішній контейнер, що обертається */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Ефект при наведенні - поворот */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Загальні стилі для обох сторін */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

/* Стиль для задньої сторони */
.card-back {
  transform: rotateY(180deg);
  background-color: #000;
  /* Фон для задньої сторони на випадок, якщо картинка прозора */
}

/* Стилізація зображень, щоб вони заповнювали картку */
.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* щоб логотипи не обрізались*/
  border-radius: 8px;
  display: block;
  /* Прибирає зайві відступи під картинкою */
}

/* АДАПТИВНІСТЬ */

@media (max-width: 1250px) {

  /* для екрану менше 1200px + відступи, змінюємо сітку */
  .cards-container .container {
    width: 100%;
    grid-template-columns: repeat(3, 270px);
    /* Переходимо на 3 колонки */
    grid-template-rows: auto;
    /* Висота рядків автоматична */
    height: auto;
  }
}

@media (max-width: 900px) {
  .cards-container .container {
    grid-template-columns: repeat(2, 270px);
    /* 2 колонки на планшетах */
  }
}

@media (max-width: 600px) {
  .cards-container .container {
    grid-template-columns: repeat(1, 270px);
    /* 1 колонка на телефонах */
  }
}